/* SCSS HEX */
$color-primary: #354f52ff;
$color-secondary: #52796fff;
$color-accent: rgb(132, 169, 140);
$background: #2f3e46ff;
$color-text: #cad2c5ff;

$base: 20px;
$base2x: 20px * 2;
$base3x: 20px * 3;
$base4x: 20px * 4;
$base5x: 20px * 5;
$base6x: 20px * 6;

$screen-sm: 600px;
$screen-md: 820px;
$screen-lg: 1080px;
$screen-xl: 1200px;

$transition-basic: cubic-bezier(0.58, 0, 0.32, 1);

@import "/styles/basics/link.scss";
@import "/styles//basics/row.scss";
@import "/styles/basics/mixins.scss";
