@font-face {
  font-family: "roboto-mono";
  src: url("../public/fonts/roboto/robotomono-regular.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "roboto-mono", -apple-system, Roboto, sans-serif, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #cad2c5ff;
    background: #2f3e46ff;
  }
}
